<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Agregar Vehículo</title>
</head>
<body>
<h1>Agregar Nuevo Vehículo</h1>
<form th:action="@{/vehicle/save}" th:object="${vehicle}" method="post">
  <label for="brand">Marca:</label>
  <input type="text" th:field="*{branDomain}" id="brand"/>
  <label for="model">Modelo:</label>
  <input type="text" th:field="*{modelDomain}" id="model"/>
  <label for="year">Año:</label>
  <input type="number" th:field="*{yearDomain}" id="year"/>
  <label for="price">Precio:</label>
  <input type="number" step="0.01" th:field="*{priceDomain}" id="price"/>
  <label for="transmission">Transmisión:</label>
  <input type="text" th:field="*{transmissionDomain}" id="transmission"/>
  <label for="traction">Tracción:</label>
  <input type="text" th:field="*{tractionDomain}" id="traction"/>
  <label for="plate">Placa:</label>
  <input type="text" th:field="*{plateDomain}" id="plate"/>
  <label for="kilome">Kilometraje:</label>
  <input type="number" th:field="*{kilometerDomain}" id="kilome"/>
  <label for="linkDo">Link:</label>
  <input type="text" th:field="*{linkDomain}" id="linkDo"/>
  <label for="fechaPublic">Fecha Publicada:</label>
  <input type="date" th:field="*{datePublicationDomain}" id="fechaPublic"/>
  <label for="estatusDo">Estatus:</label>
  <input type="text" th:field="*{statusDomain}" id="estatusDo"/>
  <button type="submit">Guardar</button>
</form>
</body>
</html>